{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'common/css/navbar.css' %}">
    <!-- Animated navbar-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
      <div class="container-fluid top-navbar">
        <button
                class="navbar-toggler ps-0"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <span
                class="d-flex justify-content-start align-items-center"
                >
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <div id="hiddenDiv">
        <div class="cloud cloud1">
        <img src="https://images.vexels.com/media/users/3/145795/isolated/preview/05cd33059a006bf49006097af4ccba98-plane-in-flight-by-vexels.png"  width="500" height="500" alt="Plane in Flight" /></div>
        </div>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link navbar-brand" onmouseover="showDiv()" onmouseout="hideDiv()" aria-current="page" href="#intro">TripVault</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item mt-1">
              <a
                 class="nav-link"
                 href="{% url 'group' %}"
                 rel="nofollow"
                 >Groups</a
                >
            </li>
            {% endif %}
            <li class="nav-item mt-1">
              <a
                 class="nav-link"
                 href=""
                 rel="nofollow"
                 >Contact</a
                >
            </li>
            <li class="nav-item mt-1">
              <a
                 class="nav-link"
                 href=""
                 >About</a
                >
            </li>
            <li class="nav-item mt-1">
                <a
                   class="nav-link"
                   href=""
                   >Help</a
                  >
              </li>
          </ul>
        </div>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav flex-row">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'userprofile' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User Profile
            </a>
            <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink" style="margin-left: -40px;">
              <a class="dropdown-item font-weight-bold" href="{% url 'userprofile' %}">Profile</a>
              <a class="dropdown-item font-weight-bold" href="{% url 'group' %}">Groups</a>
              <a class="dropdown-item" href="#">
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button class="dropdown-item text-danger font-weight-bold mr-4" type="submit" style="margin-left: 0px; outline: none;">Logout</button>
                </form>
              </a>
            </div>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
<script src="{% static 'common/js/navbar.js' %}"></script>
<header>