{% extends 'user/base.html' %}
{% load static %}
{% block title %} Group {% endblock title %}

{% block style %} 
<link rel="stylesheet" href="{% static 'user/css/group.css' %}">
{% endblock style %}
{% block newbody %}
  {% endblock newbody %}
{% block body %}
    <div class="container container-f">
        <h1 class="text-center top-title"> My Groups </h1>
        <div class="col-lg-12">
            <button type="button" class="btn button-1 primary new" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create Group
              </button>
              
              <!-- Modal -->
              <form method="post">
                {% csrf_token %}
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 1050;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                      <!-- Form inside the modal -->
                      <h4 class="text-black modal-form-title mb-2">Group Creation Form</h4>
                      <form>
                        <div class="mb-3">
                          <input type="text" class="form-control" id="groupName" name = "groupName" maxlength="30" placeholder="Enter group name" required>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-dark" role="button" id="createGroupBtn">Create</button>
                    </div>
                  </div>
                </div>
            </div>
        </form>
        </div>

  <!-- Bootstrap JS and Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  

  
    {% for user_list, group, isGroupAdmin in group_user_mapping %}
        </br>
        <div class="d-flex justify-content-between">
            <div class="">
                <h4 class="text-white" data-bs-toggle="tooltip" data-bs-placement="right" title="Group created by {{group.created_by}}">{{group.name}}</h4>
            </div>
            <div class="">
                <a class="button inlineIcon new text-white add-member-button" href="#" data-bs-toggle="modal" data-bs-target="#memberModal" onclick="openMemberModal('{{ group.id }}')">Add member</a>
            </div>
        </div>
        <div class="col-lg-12">
            <table>
                <thead>
                    <tr>
                        <th class="text-center">UserName</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Spends</th>
                        <th class="text-center">Role</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group_user_list in user_list %}
                        {% with group_user=group_user_list.0 %}
                            <tr class="text-center" width="200px" id="user_group_{{group_user.id}}_{{group.id}}">
                                <td>{{group_user.username}}</td>
                                <td>{{group_user.name}}</td>
                                <td>0</td>
                                <td>{{group_user_list.1}}</td>
                                {% if isGroupAdmin %}
                                    <td>
                                        <a class="button inlineIcon edit" href="#"></a>
                                        <a class="button inlineIcon delete" onclick="showDeleteConfirmation({{group_user.id}}, {{group.id}})" href="#"></a>
                                    </td>
                                {% else %}
                                    {% if group_user.uid == user.uid %}
                                        <td>
                                            <a class="button inlineIcon delete" onclick="showDeleteConfirmation({{group_user.id}}, {{group.id}})" href="#"></a>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </br>
    {% endfor %}
</div>


<div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="memberModalLabel" ><b>Add Member</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Member Form -->
                <div>
                    <!-- Dropdown and Search Box -->
                    <div class="mb-3 d-flex align-items-center">
                        <!-- Dropdown -->
                        <div class="me-2">
                            <label for="searchType" class="form-label text-black-50"><b>Search User</b></label>
                            <select class="form-select" id="searchType" name="searchType">
                                <option value="id">ID</option>
                                <option value="username">Username</option>
                                <option value="name" selected>Name</option>
                            </select>
                        </div>
                        <input type="hidden" id="groupModalInput" name="groupModalInput">
                        <!-- Search Box -->
                        <div class="flex-grow-1">
                            <label for="searchTerm" class="form-label text-black">&nbsp;</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="Search here">
                                <button class="btn btn-dark" type="button" onclick="search()">Search</button>
                            </div>
                        </div>
                    </div>
                    <!-- Radio Buttons -->
                    <div class="mb-3">
                        <label class="form-label text-black-50"><b>Select role:</b></label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="adminRole" value="admin">
                            <label class="form-check-label text-black" for="adminRole">Admin</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="memberRole" value="member" checked>
                            <label class="form-check-label text-black" for="memberRole">Member</label>
                        </div>
                    </div>
                    <!-- Search Result (Cards) -->
                    <div id="searchResults" class="container">

                         <div class="row" style="overflow-y: auto; max-height: 360px;">
                            <!-- Sample Result Card (Adjust as needed) -->
                            {% comment %} <div class="card mb-4 col-md-8" style="max-width: 300px; height: 120px;margin-left:50px;">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle mt-2" alt="..." style="width: 100px; height: 100px;margin-left:21px;">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body text-black">
                                        <h5 class="card-title mb-1" style="font-size: 14px;"><b>User 1</b></h5>
                                        <p class="card-text mb-1" style="font-size: 12px;"><b>ID:</b> 123</p>
                                        <p class="card-text mb-1" style="font-size: 12px;"><b>Username:</b> user123</p>
                                        <button class="btn btn-sm btn-primary" onclick="requestUser(this)">Request</button>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        
                        <h4 class="text-black text-center">No Results Found.</h4>
                            <!-- Repeat the card structure based on the number of search results -->                                                                                        
                    </div>
                            
                    </div>
                </div>
                <!-- End Member Form -->
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock body %}

{% block script %}

<script src="{% static 'user/js/group.js' %}"></script>
<script>
    function openMemberModal(groupId) {
        // resetting modal
        var resultsContainer = document.getElementById('searchResults');
        resultsContainer.innerHTML = ' <h4 class="text-black text-center">No Results Found.</h4>';
        var searchTermElement = document.getElementById('searchTerm');
        searchTermElement.value = '';  // Set the value to an empty string

        document.getElementById('groupModalInput').value = groupId;
        var memberModal = new bootstrap.Modal(document.getElementById('memberModal'));
        memberModal.show();
    }
    
    function getCookie(name) {
        const cookieValue = document.cookie
            .split('; ')
            .find(row => row.startsWith(name + '='))
            ?.split('=')[1];
    
        return cookieValue ? decodeURIComponent(cookieValue) : null;
    }

    function showDeleteConfirmation(user_id, group_id) {
        // Use window.confirm to create a confirmation dialog
        var isConfirmed = window.confirm("Are you sure you want to delete?");

        // Check the result of the confirmation
        if (isConfirmed) {
            fetch('{% url "user_group" %}', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify({"user_id": user_id, "group_id": group_id})
            })
            .then(response => {
                if (response.ok) {
                    // Remove the corresponding element from the DOM
                    var elementToUpdate = document.getElementById(`user_group_${user_id}_${group_id}`);
                    if (elementToUpdate) {
                        elementToUpdate.innerHTML = '<td colspan="5">The user is removed from the group</td>';
                    }
                }
                return response.json();
            })
            .then(data => {
                console.log('DELETE Response:', data);
            })
            .catch(error => {
                console.error('DELETE Error:', error);
            });
        }
    }

    function search() {
        var searchType = document.getElementById('searchType').value;
        var searchTerm = document.getElementById('searchTerm').value;
        var selectedRole = "member";
        var radioButtons = document.getElementsByName('role');
        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                selectedRole = radioButtons[i].value;
                break;
            }
        }
        var groupId = document.getElementById('groupModalInput').value;
        var url = 'search/?type=' + searchType + '&term=' + searchTerm  + '&group=' + groupId;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data.results);
                // Update the search results
                updateResults(data.results, selectedRole, groupId);
            })
            .catch(error => {
                console.error('Search Error:', error);
            });
    }

    function updateResults(results, selectedRole, groupId) {
        var resultsContainer = document.getElementById('searchResults');
        resultsContainer.innerHTML = '';
    
        if (results.length > 0) {
            var row = document.createElement('div');
            row.className = 'row';
    
            results.forEach(result => {
                // Create HTML elements for each search result
                var card = document.createElement('div');
                card.className = 'card mb-4 col-md-8';
                card.style = 'max-width: 300px; height: 120px;margin-left:50px;';
    
                var innerRow = document.createElement('div');
                innerRow.className = 'row g-0';
    
                var col1 = document.createElement('div');
                col1.className = 'col-md-6';
    
                var img = document.createElement('img');
                if (result.icon) {
                    img.src = result.icon;
                } else {
                    img.src = ""
                }
                img.className = 'img-fluid rounded-circle mt-2';
                img.alt = '...';
                img.style = 'width: 100px; height: 100px;margin-left:21px;';
    
                col1.appendChild(img);
    
                var col2 = document.createElement('div');
                col2.className = 'col-md-6';
    
                var cardBody = document.createElement('div');
                cardBody.className = 'card-body text-black';
    
                var title = document.createElement('h5');
                title.className = 'card-title mb-1';
                title.style = 'font-size: 13px;';
                title.innerHTML = '<b>' + result.name + '</b>';
    
                var idParagraph = document.createElement('p');
                idParagraph.className = 'card-text mb-1';
                idParagraph.style = 'font-size: 10px;';
                idParagraph.innerHTML = '<b>ID:</b> ' + result.uid;
    
                var usernameParagraph = document.createElement('p');
                usernameParagraph.className = 'card-text mb-1';
                usernameParagraph.style = 'font-size: 11px;';
                usernameParagraph.innerHTML = '<b>Username:</b> ' + result.username;
    
                var button = document.createElement('button');
                button.className = 'btn btn-sm btn-success';
                if (result.isRequested){
                    button.innerHTML = 'Requested';
                    button.disabled = true;
                } else {
                    button.innerHTML = 'Request';
                    button.addEventListener('click', function () {
                        makeRequest(result.uid, button, selectedRole, groupId);
                    });
                }
        
                cardBody.appendChild(title);
                cardBody.appendChild(idParagraph);
                cardBody.appendChild(usernameParagraph);
                cardBody.appendChild(button);
    
                col2.appendChild(cardBody);
                innerRow.appendChild(col1);
                innerRow.appendChild(col2);
                card.appendChild(innerRow);
    
                row.appendChild(card);
            });
    
            resultsContainer.appendChild(row);
        } else {
            // Display a message if no results are found
            resultsContainer.innerHTML = ' <h4 class="text-black text-center">No Results Found.</h4>';
        }
    }

    function makeRequest(useruId, button, selectedRole, groupId) {
        var requestUrl = 'request/' + useruId + '/';
    
        fetch(requestUrl, {
            method: 'POST',  // Change the method to 'POST'
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({"user_uid": useruId, "role": selectedRole, "groupId": groupId}),
        })
            .then(response => {
                if (response.ok) {
                    // Update the button text to "Requested" without page refresh
                    button.innerHTML = 'Requested';
                    // Disable the button to prevent further clicks
                    button.disabled = true;
                }
                // return response.json();
            })
            .then(data => {
                console.log('POST Response:', data);
            })
            .catch(error => {
                console.error('POST Error:', error);
            });
    }
    
</script>
{% endblock script %}

